@import 'colors.scss';
@import 'fonts.scss';
@import "../libs/foundation-sites/scss/foundation.scss";

@include foundation-everything;
@include foundation-flex-classes;
@include foundation-flex-grid;

body{
  font-family: 'FiraSans', sans-serif !important;

  img{
    max-width: 100%;
  }
}

.header {
  border-top: 4px solid $mainRed;

  .header_top_menu {
    background: $mainBlue;
    color: #fff;

    .telephones {
      .tel_img {
        background: url("../img/sprite.png") no-repeat -176px -10px;
        display: block;
        width: 15px;
        height: 25px;
      }
    }

    .social_icons {
      .social {
        background: url(../img/sprite.png) no-repeat center;
        width: 43px;
        height: 43px;
        display: block;
        transition: all 0.2s linear;

        &.social_fb {
          background-position: 0 0;

          &:hover {
            background-position: 0 -43px
          }
        }

        &.social_tl {
          background-position: -43px 0;

          &:hover {
            background-position: -43px -43px
          }
        }

        &.social_tw {
          background-position: -86px 0;

          &:hover {
            background-position: -86px -43px
          }
        }

        &.social_vb {
          background-position: -129px 0;

          &:hover {
            background-position: -129px -43px
          }
        }
      }
    }
  }

  .header_middle {
    padding: 2rem 0;

    .logo {

    }

    .request {
      display: flex;
      justify-content: flex-end;

      .request_btn {

      }
    }
  }

  .header_menu {
    .search_form {
      &.row {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
      }

      input[type='search'] {
        height: 2.5375rem;
      }
    }

    .main_menu {
      background: $mainBlue;

      .dropdown {
        li {
          a {
            color: #fff
          }

          &.is-active {
            a {
              background: #fff;
              color: $mainBlue;
            }
          }

          &:hover {
            background: #fff;

            a {
              color: $mainBlue;
            }
          }

          .submenu {

            .is-submenu-item {
              background: $mainBlue;
            }
          }
        }
      }
    }
  }
}

.main_content{
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;


  .slider{
    background: #fff;
    height: 18vw;

    .slick-next{
      right: 0;
    }

    .slick-prev{
      left: 0;
    }

    .slick-next:before,
    .slick-prev:before{
      color: $mainRed;
      z-index: 40;
    }

    img{
      height: 18vw;
    }
  }
  
  .main_info{
    .info_block{
      margin-bottom: 5rem;

      .info_header{
        color: #fff;
        background: $mainBlue;
        border-bottom: 2px solid $mainRed;
      }

      .info_content{
        padding: 1rem;
        background: $mainGreyLight;

        .info_basic{
          .birth_day_title,
          .last_see_title{margin-top: 1rem}
        }

        .info_text{
          margin-top: 1rem;

          &.columns{
            padding-right: 0;
            padding-left: 0;
          }
        }
      }

      .info_footer{
        color: #fff;
        background: $mainBlue;
        border-top: 2px solid $mainRed;

        .tags{
          &.row {
            padding-right: 0.9375rem;
            padding-left: 0.9375rem;
          }

          .tag{
            color: #fff;
          }
        }
        
        .read_more{
          color: #fff;
          text-align: right;
        }
      }

      .info_header,
      .info_footer{
        &.row {
          padding-right: 0.9375rem;
          padding-left: 0.9375rem;
        }
      }
    }

    .pagination{
      margin-top: 1rem;
    }
  }

  .r_menu{
    .important_title,
    .last_title{
      color: #fff;
      background: $mainBlue;
      border-bottom: 2px solid $mainRed;
    }

    .last_title{
      margin-top: 3rem;
    }

    .important .imp_block,
    .last .last_block{
      img{
        height: 8vw;
        width: 6vw;
      }
    }
  }
}

.footer {
  color: #fff;
  background: $mainBlue;
  border-bottom: 4px solid $mainRed;
  padding: 1rem 0;

  a {
    color: #fff;
  }

  .social_icons {
    .social {
      background: url(../img/sprite.png) no-repeat center;
      width: 43px;
      height: 43px;
      display: block;
      transition: all 0.2s linear;

      &.social_fb {
        background-position: 0 0;

        &:hover {
          background-position: 0 -43px
        }
      }

      &.social_tl {
        background-position: -43px 0;

        &:hover {
          background-position: -43px -43px
        }
      }

      &.social_tw {
        background-position: -86px 0;

        &:hover {
          background-position: -86px -43px
        }
      }

      &.social_vb {
        background-position: -129px 0;

        &:hover {
          background-position: -129px -43px
        }
      }
    }
  }

}
