$Four_K: 2560px;
$bagFixBigLaptop: 2048px;
$laptopXXL: 1921px;
$laptopXL: 1682px;
$laptopL: 1441px;
$laptopM: 1366px;
$laptopS: 1280px;
$bagFixLaptop: 1233px;
$laptopES: 1024px;
$tabletEL: 900px;
$tabletL: 800px;
$tabletM: 720px;
$tabletS: 640px;
$mobileL: 530px;
$mobileM: 440px;
$bagFixMobile:400px;
$mobileS: 330px;